.browseTree,
.browseSubTree {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.browseTree {
    background: #efefef;
}

.browseSubTree .column {
    border: 1px solid #dadada;
    padding: 15px;
    flex: 1;
    overflow: hidden;
    min-width: 115px;
}

.browseTree .column h1 {
    height: 28px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;
}

.columnHidden {
    background: grey;
    display: none;
}

.browseTree h1.haveChildren:hover,
.browseTree h1.selected.haveChildren {
    background-color: #d8d8d8;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

.browseTree h1.selected,
.browseTree h1:hover {
    background-color: #4285f4;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

h1 .arrow {
    width: 18px;
    height: 18px;
}

h1 .folder {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.backBtnContent {
    margin: auto;
}

.backBtn {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.backBtn:hover {
    background-color: black;
}

.textContent {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}