.rootBrowseTree {
    padding: 30px;
    user-select: none;
}

.browseTree,
.browseSubTree {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    flex-flow: row;
    overflow: auto;
    padding: 10px 0 20px 0;
}

.browseSubTree .column {
    border: 1px solid #dadada;
    padding: 15px;
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
    min-width: 115px;
    max-width: 600px;
    margin: 2px;
    -webkit-box-shadow: 0 8px 6px -6px #d8d8d8;
	   -moz-box-shadow: 0 8px 6px -6px #d8d8d8;
	        box-shadow: 0 8px 6px -6px #d8d8d8;
}

.browseTree .column h1 {
    height: 40px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;
    cursor: default;
}

.browseTree .column h1 span {
    width: 100%;
    text-align: left;
}

.browseTree .column h1 input {
    border: none;
    outline: none;
    background: unset;
    width: 100%;
    text-align: left;
}

.columnHidden {
    background: grey;
    display: none;
}

.browseTree h1.selected,
.browseTree h1.selected:hover {
    background-color: #040404a1;
    border-radius: 10px;
    color: white;
}

.browseTree h1:hover {
    background-color: #dedede;
    border-radius: 10px;
    color: white;
}

.browseTree h1.selected input {
    color: white;
}

.delete {
    display: none;
    color: #ff0000ba;
}

.browseTree h1:hover .delete { 
    display: block;
}

h1 .arrow {
    width: 18px;
    height: 18px;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    padding: 5px;
}

h1 .folder {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

h1 .renderChildren {
    min-width: 30px;
    cursor: pointer;
}

.backBtnContent {
    margin: auto;
    margin-right: 7px;
    margin-left: 7px;
}

.backBtn {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.backBtn:hover {
    background-color: #d2d2d2;
    border-radius: 50%;
}

.textContent {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textContent .title {
    display: flex;
    align-items: center;
}

.animated {
    background-color: #f3f3f3;
    background-repeat: no-repeat;
    background-position: left top;
    padding-top:10px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

i.lastItem {
    border-bottom: 1px solid black;
}

img.addFolderItem,
img.addItem {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

img.addFolderItem {
    margin-left: 30px;
}

.interactionIcons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

input:read-write:focus {
    font-family: cursive;
}

.saveArea {
    text-align: right;
    background-color: #f3f3f3;
    padding: 25px 6px 0px 0px;
    text-align: right;
    background-color: #f3f3f3;
    padding: 25px 6px 0px 0px;
    height: 35px;
}

.saveIcon {
    width: auto;
    height: 100%;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 3px;
    height: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}