.browseTree,
.browseSubTree {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   /* width: 100%; */
}

.browseTree {
    background: white;
    border: 1px solid grey;
}

.browseSubTree .column {
    border: 1px solid grey;
    padding: 15px;
    margin: 5px;
    flex: 1;
}

.columnHidden {
    background: grey;
    display: none;
}
.browseTree h1:hover,
.browseTree h1.selected {
    background-color: #cccccc;
    border-radius: 10px;
    cursor: pointer;
}

h1 .arrow {
    width: 25px;
    height: 25px;
}

.backBtnContent {
    margin: auto;
}

.backBtn {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.backBtn:hover {
    background-color: black;
}